*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
#title{
    display: flex;
    justify-content: center;
    margin-top: 7.5px ;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
#types{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.types-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:5vw;
    margin: 20px;
    padding: 10px;
}
#nepali,
#indian,
#italian,
#chinese,
#mexican,
#american{
    display: flex;
    flex-direction: column;
    /* border: 5px solid rgb(22, 24, 22); */
    border-radius: 10px;
    padding: 10px;
    font-size: 38px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;

}
img{
    height: 190px;
    width: 250px;
    border-radius: 20px;
}
img:hover{
    background-color: black;
    opacity: 65%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}